[user]
	email = pankajkapasiya29@gmail.com
	name = PankajKapasiya
[core]
	autocrlf = true
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = false
	keepBackup = false
